body {
     display: grid;
     place-items: center;
     font-family: monospace;
     height: 100vh;
     margin:0;
 }

 h1 {
    color: blue;
    margin-bottom: 5%;
    font-size: 30px;
 }

 h2 {
    font-size: 22px;
 }